body{
    margin: 0%;
}

#sideBar{
    border: 1px solid black;
    height:1000px;
    width: 150px;
    background-color: black;
}

#sideBarContents{
    color: aliceblue;
    font-size: 20px;
    margin-top: 60px;
    list-style-type: none;
}

.navBar{
    padding: 10px;
    background-color: yellowgreen;
    display: flex;
    gap: 20px;
}
.navBar a{
    text-decoration: none;
}

#dropbox{
    border: 1px solid black;
    width: 100px;
    height: 300px;
    background-color: azure;
}